@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-rose-300;
}

html {
  scroll-behavior: smooth;
}


@keyframes spotlight {
  0% { transform: translate(-25%, -25%) rotate(0deg); }
  50% { transform: translate(25%, 25%) rotate(180deg); }
  100% { transform: translate(-25%, -25%) rotate(360deg); }
}

@keyframes spotlight-delay {
  0% { transform: translate(25%, -25%) rotate(0deg); }
  50% { transform: translate(-25%, 25%) rotate(-180deg); }
  100% { transform: translate(25%, -25%) rotate(-360deg); }
}

.animate-spotlight {
  animation: spotlight 12s linear infinite;
  mix-blend-mode: screen;
}

.animate-spotlight-delay {
  animation: spotlight-delay 15s linear infinite;
  mix-blend-mode: screen;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } /* only move half because we duplicate */
}

.animate-marquee {
  display: flex;
  width: 200%; /* double width */
  animation: marquee 30s linear infinite; /* 30s = slower, increase for more */
}

